<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hunt: Showdown API</title>
    <link rel="shortcut icon" href="https://www.huntshowdown.com/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://dearvoodoo.com/library/fontawesome/css/all.css'>
    <link rel="stylesheet" href="https://huntshowdown-api.herokuapp.com/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/default.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/rainbow.min.css">

</head>

<body>
    <div class="loader">
        <h1>Hunt Showdown API</h1>
    </div>
    <!-- partial:index.partial.html
    <div class="dark-light">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
        </svg>
    </div> -->
    <div class="app">
        <div class="header">
            <div class="menu-circle"></div>
            <div class="header-menu">
                <a class="menu-link" href="#">API Version <span id="version"></span></a>
                <a class="menu-link" href="#">Game Version <span id="version_game"></span></a>
                <a class="menu-link" href="https://trello.com/b/WQYee7Aq/hunt-showdown-api">Follow Development</a>
                <!--<a class="menu-link" href="#">Menu 4</a>-->
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="side-wrapper">
                    <div class="side-title">Hunt: Showdown API</div>
                    <div class="side-menu">
                        <a href="https://huntshowdown-api.herokuapp.com">
                            <i class="fal fa-user-secret"></i>
                            Presentation
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/how-to-use">
                            <i class="fal fa-question-circle"></i>
                            How to use
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/endpoints">
                            <i class="fal fa-traffic-light-stop"></i>
                            Endpoints
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/credits">
                            <i class="fal fa-face-smile-hearts"></i>
                            Credits
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/changelogs">
                            <i class="fal fa-battery-bolt"></i>
                            Changelogs
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">VooDoo Links</div>
                    <div class="side-menu">
                        <a href="https://twitter.com/DearVooDoo">
                            <i class="fab fa-twitter"></i>
                            Twitter
                        </a>
                        <a href="https://twitch.tv/dear_voodoo">
                            <i class="fab fa-twitch"></i>
                            Twitch
                        </a>
                        <a href="https://discord.gg/XeeXPA7">
                            <i class="fab fa-discord"></i>
                            Discord
                        </a>
                        <a href="https://github.com/dearvoodoo">
                            <i class="fab fa-github"></i>
                            Github
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Hunt: Showdown Links</div>
                    <div class="side-menu">
                        <a href="https://www.huntshowdown.com">
                            <i class="fal fa-globe"></i>
                            Website
                        </a>
                        <a href="https://twitter.com/HuntShowdown">
                            <i class="fab fa-twitter"></i>
                            Twitter
                        </a>
                        <a href="https://www.facebook.com/huntshowdown/">
                            <i class="fab fa-facebook"></i>
                            Facebook
                        </a>
                        <a href="https://www.instagram.com/huntthegame/">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                        <a href="https://www.youtube.com/user/CrytekHunt">
                            <i class="fab fa-youtube"></i>
                            YouTube
                        </a>
                        <a href="https://www.twitch.tv/directory/game/Hunt%3A%20Showdown">
                            <i class="fab fa-twitch"></i>
                            Twitch
                        </a>
                        <a href="https://discord.gg/huntshowdown">
                            <i class="fab fa-discord"></i>
                            Discord
                        </a>
                        <a href="https://vk.com/huntshowdownofficial">
                            <i class="fab fa-vk"></i>
                            VK
                        </a>
                        <a href="https://www.tiktok.com/@huntshowdownofficial?lang=en">
                            <i class="fab fa-tiktok"></i>
                            Tiktok
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Copy</div>
                    <div class="side-menu">
                        <p class="copy">
                            Made with
                            <span><i class="fal fa-heart"></i> & <i class="fal fa-coffee"></i></span>
                            in France
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="main-header">
                    <a class="menu-link-main" href="#">Credits</a>
                    <!--<div class="header-menu">
            <a class="main-header-link is-active" href="#">Desktop</a>
            <a class="main-header-link" href="#">Mobile</a>
            <a class="main-header-link" href="#">Web</a>

          </div>-->
                </div>
                <div class="content-wrapper">
                    <!-- All credits -->
                    <div class="content-section">
                        <div class="content-section-title">Credits</div>
                        <div class="card">
                            <span>
                                <a href="" target="" style="color: inherit;text-decoration: none;">All the Crytek for
                                    making a game like Hunt: Showdown.</a><br>
                                <a href="" target="" style="color: inherit;text-decoration: none;">Heroku app for
                                    hosting this API.</a><br>
                                <a href="" target="" style="color: inherit;text-decoration: none;">All Hunt: Showdown
                                    community members for your help.</a><br>
                                <a href="" target="" style="color: inherit;text-decoration: none;">My friends for my
                                    mental support ahah</a>
                            </span>
                        </div>
                    </div>
                    <!-- END - All credits -->

                    <!-- All lib used for the side -->
                    <div class="content-section">
                        <div class="content-section-title">Used for this website and API</div>
                        <div class="card text-center">
                            <span>
                                <table>
                                    <tr>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                        <td class="text-uppercase" style="vertical-align:middle; text-align: center">
                                            Website</td>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                    </tr>
                                </table>
                                <a href="https://getbootstrap.com" target="_blank"
                                    style="color: inherit;text-decoration: none;">Bootstrap</a><br>
                                <a href="https://jquery.com" target="_blank"
                                    style="color: inherit;text-decoration: none;">Jquery</a><br>
                                <a href="https://fontawesome.com" target="_blank"
                                    style="color: inherit;text-decoration: none;">Font Awesome</a><br>
                                <a href="https://popper.js.org" target="_blank"
                                    style="color: inherit;text-decoration: none;">Popper</a><br>
                                <a href="https://highlightjs.org" target="_blank"
                                    style="color: inherit;text-decoration: none;">Hightlight JS</a><br><br><br>
                                <table>
                                    <tr>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                        <td class="text-uppercase" style="vertical-align:middle; text-align: center">API
                                        </td>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                    </tr>
                                </table>
                                <a href="https://nodejs.org/en/" target="_blank"
                                    style="color: inherit;text-decoration: none;">Node.js</a><br><br><br>
                                <table>
                                    <tr>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                        <td class="text-uppercase" style="vertical-align:middle; text-align: center">
                                            Modules</td>
                                        <td style="width:50%">
                                            <hr />
                                        </td>
                                    </tr>
                                </table>
                                <a href="https://expressjs.com/fr/" target="_blank"
                                    style="color: inherit;text-decoration: none;">Express</a><br>
                                <a href="https://www.npmjs.com/package/body-parser" target="_blank"
                                    style="color: inherit;text-decoration: none;">Body Parser</a><br>
                                <a href="https://www.npmjs.com/package/express-query-boolean" target="_blank"
                                    style="color: inherit;text-decoration: none;">Express Query Boolean</a><br>
                                <a href="https://www.npmjs.com/package/express-query-int" target="_blank"
                                    style="color: inherit;text-decoration: none;">Express Query Int</a><br>
                                <a href="https://www.mongodb.com/cloud/atlas/lp/try2?utm_content=rlsavisitor&utm_source=google&utm_campaign=gs_emea_rlsamulti_search_core_brand_atlas_desktop_rlsa&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=14412646455&gclid=Cj0KCQjwiNSLBhCPARIsAKNS4_feRqCvzSh0xxgHDlh-mNiMSw2KR3HnePiKSI086tvh0UzUI84RxGAaAnafEALw_wcB"
                                    target="_blank" style="color: inherit;text-decoration: none;">MongoDB</a>
                            </span>
                        </div>
                    </div>
                    <!-- END - All lib used for the side -->

                </div>
            </div>
        </div>
        <div class="overlay-app"></div>
    </div>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
    <script src="https://huntshowdown-api.herokuapp.com/script.js"></script>

</body>

</html>