<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hunt: Showdown API</title>
    <link rel="shortcut icon" href="https://www.huntshowdown.com/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://dearvoodoo.com/library/fontawesome/css/all.css'>
    <link rel="stylesheet" href="https://huntshowdown-api.herokuapp.com/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/default.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/rainbow.min.css">

</head>

<body>
    <div class="loader">
        <h1>Hunt Showdown API</h1>
    </div>
    <!-- partial:index.partial.html
    <div class="dark-light">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
        </svg>
    </div> -->
    <div class="app">
        <div class="header">
            <div class="menu-circle"></div>
            <div class="header-menu">
                <a class="menu-link" href="#">API Version <span id="version"></span></a>
                <a class="menu-link" href="#">Game Version <span id="version_game"></span></a>
                <a class="menu-link" href="https://trello.com/b/WQYee7Aq/hunt-showdown-api">Follow Development</a>
                <!--<a class="menu-link" href="#">Menu 4</a>-->
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="side-wrapper">
                    <div class="side-title">Hunt: Showdown API</div>
                    <div class="side-menu">
                        <a href="https://huntshowdown-api.herokuapp.com">
                            <i class="fal fa-user-secret"></i>
                            Presentation
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/how-to-use" class="is-active">
                            <i class="fal fa-question-circle"></i>
                            How to use
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/endpoints">
                            <i class="fal fa-traffic-light-stop"></i>
                            Endpoints
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/credits">
                            <i class="fal fa-face-smile-hearts"></i>
                            Credits
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                        <a href="https://huntshowdown-api.herokuapp.com/changelogs">
                            <i class="fal fa-battery-bolt"></i>
                            Changelogs
                            <!--<span class="notification-number updates">3</span>-->
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">VooDoo Links</div>
                    <div class="side-menu">
                        <a href="https://twitter.com/DearVooDoo">
                            <i class="fab fa-twitter"></i>
                            Twitter
                        </a>
                        <a href="https://twitch.tv/dear_voodoo">
                            <i class="fab fa-twitch"></i>
                            Twitch
                        </a>
                        <a href="https://discord.gg/XeeXPA7">
                            <i class="fab fa-discord"></i>
                            Discord
                        </a>
                        <a href="https://github.com/dearvoodoo">
                            <i class="fab fa-github"></i>
                            Github
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Hunt: Showdown Links</div>
                    <div class="side-menu">
                        <a href="https://www.huntshowdown.com">
                            <i class="fal fa-globe"></i>
                            Website
                        </a>
                        <a href="https://twitter.com/HuntShowdown">
                            <i class="fab fa-twitter"></i>
                            Twitter
                        </a>
                        <a href="https://www.facebook.com/huntshowdown/">
                            <i class="fab fa-facebook"></i>
                            Facebook
                        </a>
                        <a href="https://www.instagram.com/huntthegame/">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                        <a href="https://www.youtube.com/user/CrytekHunt">
                            <i class="fab fa-youtube"></i>
                            YouTube
                        </a>
                        <a href="https://www.twitch.tv/directory/game/Hunt%3A%20Showdown">
                            <i class="fab fa-twitch"></i>
                            Twitch
                        </a>
                        <a href="https://discord.gg/huntshowdown">
                            <i class="fab fa-discord"></i>
                            Discord
                        </a>
                        <a href="https://vk.com/huntshowdownofficial">
                            <i class="fab fa-vk"></i>
                            VK
                        </a>
                        <a href="https://www.tiktok.com/@huntshowdownofficial?lang=en">
                            <i class="fab fa-tiktok"></i>
                            Tiktok
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Copy</div>
                    <div class="side-menu">
                        <p class="copy">
                            Made with
                            <span><i class="fal fa-heart"></i> & <i class="fal fa-coffee"></i></span>
                            in France
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="main-header">
                    <a class="menu-link-main" href="#">How to Use</a>
                    <!--<div class="header-menu">
            <a class="main-header-link is-active" href="#">Desktop</a>
            <a class="main-header-link" href="#">Mobile</a>
            <a class="main-header-link" href="#">Web</a>

          </div>-->
                </div>
                <div class="content-wrapper">
                    <!-- The API -->
                    <div class="content-section">
                        <div class="content-section-title">The API ?</div>
                        <div class="card">
                            <span>
                                The API returns a JSON response by default.<br>
                                You can use query in url to request a specific information.<br>
                                All list of endpoints and result exemple are available in the page <a
                                    href="https://huntshowdown-api.herokuapp.com/endpoints">Endpoints</a>.<br>
                                Note: API requests may be rate limited.
                            </span>
                        </div>
                    </div>
                    <!-- END - The API -->

                    <!-- How to get image -->
                    <div class="content-section">
                        <div class="content-section-title">How to get image ?</div>
                        <div class="card">
                            <span>
                                API can return a path for an image or an icon.<br>
                                You have to build the path yourself. But no worries this simple as fuck.<br>
                                <br><br>
                                All images are uploaded to my website.<br>
                                So take this part
                                <code>https://huntshowdown.dearvoodoo.com/imgs</code><br>
                                and just add the path that the API returns.<br>
                                <br>
                                So an image link looks like this:<br>
                                <code>https://huntshowdown.dearvoodoo.com/imgs/ammo/compact/normal_ammo_box.png</code>
                            </span>
                        </div>
                    </div>
                    <!-- END - How to get image -->

                    <!-- How to use query -->
                    <div class="content-section">
                        <div class="content-section-title">How to use queries ?</div>
                        <div class="card">
                            <span>
                                Queries are very usefull when you want specific information to be return.<br>
                                For example, you want information on the "Bolt Thrower" trait.<br>
                                You can use the <a
                                href="#"
                                data-bs-toggle="popover"
                                title="Popover title"
                                data-bs-content="And here's some amazing content. It's very engaging. Right?">ID</a> of this trait to directly tell at the API that you want only
                                information with this tag.<br>
                                ex:
                                <code>https://huntshowdown-api.herokuapp.com/trait_info<span style="color: rgb(235, 65, 65)">?tag=bolt_thrower</span></code><br>
                                You can request more than one information at a time.
                            </span>
                        </div>
                    </div>
                    <!-- END - How to use query -->

                    <!-- Rate Limit -->
                    <div class="content-section">
                        <div class="content-section-title">Rate Limit</div>
                        <div class="card">
                            <span>
                                This API has a Rate-Limit.<br>
                                Each IP can request up to 100 requests per 15 minute window.
                                <br>
                                <br>
                                You can see in the <code>headers</code> of your request the information related to your limitation.
                                <br>
                                <img src="https://cdn.discordapp.com/attachments/685822818222604339/992705403773276191/Postman_1921-1041-Piercing_Yellowhammer.png"/>
                                <br>
                                <br>
                                If you reach this limit this error 429 will be return.<br>
                                <img src="https://cdn.discordapp.com/attachments/685822818222604339/992702352668758016/Postman_832-136-Fat_Majungatholus.png"/>
                            </span>
                        </div>
                    </div>
                    <!-- END - Rate Limit -->

                    <!-- Global references -->
                    <div class="content-section">
                        <div class="content-section-title">Global eferences ?</div>
                        <div class="card">
                            <span>
                                You are probably asking yourself the question "Ok this is good but what exactly are the
                                numbers?"<br><br>
                                So the answer is this:<br>
                                <code>effective_range</code> is calculated in meters. (m)<br>
                                <code>rate_of_fire</code> is calculated in revolutions per minute. (rpm)<br>
                                <code>handling</code> is calculated in percentages. (%)<br>
                                <code>reload_speed</code> is calculated in seconds. (s)<br>
                                <code>muzzle_velocity</code> is calculated in meters per second. (m/s)<br>
                                <code>cost</code> is calculated in Hunt Dollars. (HD)<br>
                                <code>price</code> can be:<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• BB for Blood Bonds<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• HD for Hunt Dollars<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• DLC for the DLC ID (steam) build like this:
                                <code>https://store.steampowered.com/app/ID_HERE</code><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• TRIAL for trial rewards level<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• EVENT for the event name<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;• TW for Twitch Drops
                            </span>
                        </div>
                    </div>
                    <!-- END - Global references -->

                    <!-- Image Formats -->
                    <div class="content-section">
                        <div class="content-section-title">Image formats</div>
                        <div class="card">
                            <span>
                                All images are in PNG format.<br><br>
                                Weapons: 0px 0px<br>
                                Tools: 0px 0px<br>
                                Consumables: 0px 0px<br>
                                Traits: 4083px 2042px<br>
                                Traits Square: 0px 0px<br>
                                Hunters: 3500px 3500px<br>
                                Ammo:<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Icon 80px 80px<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Packet 110px 70px<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Bullet 150px 150px<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Ammo Box 830px 550px<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; <span class="audio" data-audio-url="uwu">UwU</span> Box 830px
                                550px<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Small Ammo Box 830px 550px<br>
                                Prestige: 512px 512pxpx<br>
                                <br>
                                <br>
                                <i>You can find other images on Github in the "others" folder. This images are chevron,
                                    indicator, border from the Hunt: Showdown website.</i>
                            </span>
                        </div>
                    </div>
                    <!-- END - Image Formats -->
                </div>
            </div>
        </div>
        <div class="overlay-app"></div>
    </div>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
    <script src="https://huntshowdown-api.herokuapp.com/script.js"></script>

</body>

</html>